.card-item {
    width: 345px;
    /* height: 140px; */
    margin: 5px;
}

.form-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.form-item-link {
    text-decoration: none;
}

html, body {
    background-color: #F1F1F1;
}

.form-container {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    flex-wrap: wrap;
    width: 120vh;
    margin-left: auto;
    margin-right: 25vh;
}

.form-btn-container {
    margin-bottom: 4vh;
    flex-direction: row;
    align-content: flex-start;
    display: flex;
    width: inherit;
}

.form-creation-card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 100%;
    flex-wrap: wrap;
    padding: 10vh;
    width: inherit;
    box-shadow: 2px 2px 25px 1px rgba(0, 0, 0, 0.25);
}

.form-creation-btn {
    text-transform: capitalize !important;
    background-color: #37474F !important;
    color: #fff !important;
    border-radius: 10px !important;
    width: 20vh;
    height: 6vh;
    margin-right: 5vh !important;
}

.form-creation-btn:hover {
    text-transform: capitalize !important;
    background-color: #F9A825 !important;
    color: #000 !important;
}

.form-creation-field {
    width: 90vh !important;
}

.main-form-creation-container{
    display: flex;
}

.form-creation-filter {
    display: flex;
    width: 30vh;
    background-color: #37474F;
}

.form-creation-main-component {
    margin-left: auto;
    margin-right: 0;
}

