.form-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 128vmin;
}

.form-list-wrapper {
    display: flex;
    justify-content: center;
}

.side-menu {
    display: flex;
    flex-wrap: wrap;
    background-color: #37474f;
    width: 18vw;
    height: 45vmin;
    margin: 1.5vmin;
    position: -webkit-sticky;
    position: sticky;
    top: 1.5vmin;
    color: #f9a825 !important;
    justify-content: center !important;
    padding: 2vmin;
}

.form-list-item {
    width: 61vmin;
    background-color: #f9a825 !important;
    margin: 1.5vmin;
}

.search {
    width: 125vmin;
    margin: 1.5vmin auto;
}

.form-item-content {
    display: flex !important;
    justify-content: left !important;
}

.form-item-link {
    background-color: #37474f !important;
    color: white !important;
    text-transform: capitalize !important;
    margin-left: 1.5vmin !important;
    margin-bottom: 1.5vmin !important;
}

.create-form-btn {
    background-color: #f9a825 !important;
    color: #37474f !important;
    text-transform: capitalize !important;
    align-self: flex-end;
}
