$titleColor: #000000;
$titleBackgroundColor: #ffffff;
$titleShadowColor: #F9A825;

$submitColor: #ffffff;
$submitBackgroundColor: #37474F;
$submitHoverColor: #000000;
$submitHoverBackgroundColor: #F9A825;

$fieldBackgroundColor: #ffffff;
$fieldBoxShadow: 0.1vw 0.35vh 0.1vmin #37474F;
$fieldErrorColor: #f44336;

$radioOptionColor: #37474F;
$checkboxOptionColor: #37474F;
