@import "colors";


.field-checkbox-pass {
    width: 40vw;
    margin-top: 3vmin;
    padding: 2vmin 2.5vmin 2vmin 2.5vmin;

    background-color: $fieldBackgroundColor;
    border-radius: 0.5vmin;
    box-shadow: $fieldBoxShadow;

    text-align: left;

    &__question {
        font-size: 1.5rem;
    }

    &__input {
        width: 100%;

        margin-top: 2vh !important;

        &__help {
            font-size: 0.8rem !important;
        }
    }

    &__checkbox-item {
        color: $checkboxOptionColor !important;
    }

}