$navbarColor: #FFFFFF;
$navbarBackgroundColor: #37474F;

$navbarButtonColor: #000000;
$navbarButtonBackgroundColor: #F9A825;

$navbarLogoHoverColor: #F9A825;


.navbar {
    color: $navbarColor !important;
    background-color: $navbarBackgroundColor !important;

    &__toolbar {
        padding-left: 8vw !important;
        padding-right: 8vw !important;
    }

    &__logo {
        margin-right: auto !important;

        color: $navbarColor !important;

        font-size: 1.25rem !important;
        text-transform: capitalize !important;

        &:hover {
            color: $navbarLogoHoverColor !important;
            background-color: $navbarBackgroundColor !important;
        }
    }

    &__link {
        margin-right: 10vw !important;

        color: $navbarColor !important;

        text-transform: capitalize !important;

        &:hover {
            color: orange !important;
            background-color: $navbarBackgroundColor !important;
        }
    }

    &__btn {
        padding: 0.3rem 1.05rem !important;
        
        color: $navbarButtonColor !important;
        background-color: $navbarButtonBackgroundColor !important;
        border-radius: 0.3rem !important;

        text-transform: capitalize !important;

        &:hover {
            background-color: $navbarColor !important;

            transition: 0.4s;
        }
    }
}