/* Field item */

.field-card-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: normal;
    width: 50vw;
    margin: 5px;
    border-radius: 0px !important;
    background-color: #F9A825 !important;
}
.field-card-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}

.field-card-actions {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.field-button {
    width: 7vmax;
    margin-bottom: 5px !important;
    background-color: #37474F !important;
}

.field-typo {
    width: 100%;
    text-align: start;
}

.field-checkbox {
    margin: 0px !important;
    padding: 0px !important;
}

.field-expand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    border-radius: 0px !important;
    background-color: #F9A825 !important;
}

.choice-typo {
    text-align: start !important;
    margin-left: 3vw !important;
    width: 50vw !important;
}

/* Field List */

.field-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    width: 60vw;
    float: left;
}

.filter-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    width: 30vw;
    float: left;
}

.filter-item {
    display: flex;
    justify-content: center !important;
    width: 20vw;
    background-color: #37474F;
    margin-top: 1vw;
}

.filter-typo {
    margin: 0 !important;
    padding: 0 !important;
    color: #F9A825 !important;
}

.filter-category {
    width: 100%;
}

.search-bar {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 1vw;
    margin-left: 0.5vw;
    width: 50vw;
    height: 3vw;
}
