.filter {
    width: 100%;
    margin: 2vmin;
}

.filter-title {
    display: flex;
    justify-content: left;
    font-size: 1.5vw !important;
}

.filter-content {
     margin-left: 3vmin;
}

.filter-form-item {
    color: #f9a825 !important;
}