.filter {
    margin-top: 3vmin;
    width: 100%;
}

.filter-title {
    display: flex;
    justify-content: left;
}

.filter-content {
     margin-left: 3vmin;
}

.filter-form-item {
    color: #f9a825 !important;
}