.sort {
    width: 100%;
}

.sort-title {
    display: flex;
    justify-content: left;
}

.sort-content{
    margin-left: 3vmin;
}

.sort-item {
    display: flex;
    justify-content: left;
    margin-top: 1.5vmin !important;
}