$homeBackgroundColor: #F1F1F1;

$homeTitleColor: #344955;

$homeFormsBackgroundColor: #F9A825;
$homeFormsTitleHoverColor: #37474F;
$homeFormsTitleHoverBackgroundColor: #F9A825;

$homeFieldsBackgroundColor: #455A64;
$homeFieldsTitleColor: #ffffff;
$homeFieldsTitleHoverColor: #cac3c3;
$homeFieldsTitleHoverBackgroundColor: #455A64;


$itemColor: #000000;
$itemBackgroundColor: #ffffff;
$itemShadowColor: #292727;

$fieldItemButtonColor: #ffffff;
$fieldItemButtonBackgroundColor: #455A64;
$fieldItemButtonHoverColor: #000000;
$fieldItemButtonHoverBackgroundColor: #F9A825;

$formItemButtonColor: #000000;
$formItemButtonBackgroundColor: #F9A825;
$formItemButtonHoverColor: #ffffff;
$formItemButtonHoverBackgroundColor: #455A64;

$newItemColor: #37474F;
$newItemHoverColor: #F9A825;
