$bodyBackgroundColor: #F1F1F1;


$homeTitleColor: #344955;
$homePrimaryColor: #F9A825;
$homeSecondaryColor: #455A64;
$homeTertiaryColor: #37474F;

$itemColor: #000000;
$itemBackgroundColor: #ffffff;

$whiteColor: #ffffff;

$itemShadowColor: #292727;


// padding в items тоже винести в змінні (але це коли компоненти буду робити)


.fielditem {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    width: 24vmin;
    height: 20vmin;
    margin-right: 4vmin;
    margin-top: 2vmin;
    padding: 1.2vmin 1.5vmin 1vmin 1.5vmin;

    color: $itemColor;
    background-color: $bodyBackgroundColor;
    border-radius: 1vmin;

    text-align: left;
    line-height: 2.1rem;

    &__name {
        font-size: 1.5rem;
    }

    &__title {
        font-size: 1rem;
    }

    &__buttons {
        display: flex;
        flex-grow: 1;
        flex-flow: row wrap;
        align-items: flex-end;
        justify-content: space-between;

        &__more,
        &__share {
            padding: 0.4vmin 1.2vmin !important;

            color: $whiteColor !important;
            background-color: $homeSecondaryColor !important;

            text-transform: capitalize !important;
        }

        &__more:hover, 
        &__share:hover {
            color: #000 !important;
            background-color: $homePrimaryColor !important;

            transition: 0.2s;
        }
    }

    &:hover {
        //TODO - тут впорядкувати по тому порядку
        transition: 0.4s;

        box-shadow: 0.9vmin 0.9vmin 1.5vmin $itemShadowColor;

        cursor: pointer;
    }
}