$bodyBackgroundColor: #F1F1F1;

html, body {
    background-color: $bodyBackgroundColor !important;
    height: 100% !important; // ัะท
}


$homeTitleColor: #344955;
$homePrimaryColor: #F9A825;
$homeSecondaryColor: #455A64;
$homeTertiaryColor: #37474F;

$itemColor: #000000;
$itemBackgroundColor: #ffffff;

$whiteColor: #ffffff;


.fields__list {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap; // flex-direction, -wrap
}