@import "colors";


.form-item {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    width: 27.8vmin;
    height: 24.5vmin;
    margin-top: 2vmin;
    margin-right: 1.2vmin;
    padding: 1.3vmin 1.3vmin 1vmin 1.4vmin;

    color: $itemColor;
    background-color: $itemBackgroundColor;
    border-radius: 1vmin;

    text-align: left;
    line-height: 1.8rem;

    &__name {
        font-size: 1.6rem;
        text-overflow: ellipsis;
    }

    &__title {
        color: #4b4a4a;

        font-size: 1rem;
    }

    &__status {
        font-size: 1rem;
    }

    &__buttons {
        display: flex;
        flex-grow: 1;
        flex-flow: row wrap;
        align-items: flex-end;
        justify-content: space-between;

        &__more,
        &__share {
            padding: 0.4vmin 0.9vmin !important;

            color: $formItemButtonColor !important;
            background-color: $formItemButtonBackgroundColor !important;

            font-size: 0.85rem !important;
            text-transform: capitalize !important;
        }

        &__more:hover,
        &__share:hover {
            color: $formItemButtonHoverColor !important;
            background-color: $formItemButtonHoverBackgroundColor !important;
        }
    }

    &:hover {
        box-shadow: 0.9vmin 0.9vmin 1.5vmin $itemShadowColor;

        cursor: pointer;

        transition: 0.4s;
    }
}
