$bodyBackgroundColor: #F1F1F1;

html, body {
    background-color: $bodyBackgroundColor !important;
    height: 100% !important; // хз
}


$homeTitleColor: #344955;
$homePrimaryColor: #F9A825;
$homeSecondaryColor: #455A64;
$homeTertiaryColor: #37474F;

$itemBackgroundColor: #ffffff;
$itemColor: #000000;

.home {

    height: 100% !important;

    &__title {
        padding: 3vh 0 3vh 8vw;

        color: $homeTitleColor;

        font-size: 2rem;
        text-align: left;
    }

    &__content {
        display: flex;
    }

    &__forms {
        padding-left: 8vw;
        padding-top: 2vh;
        
        width: 50vw;
        // height: 100% !important;
        height: 84.1vh !important;

        background-color: $homePrimaryColor;

        &__title {
            font-size: 1.8rem;
            text-align: left;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            flex-flow: row wrap; // flex-direction, -wrap

            &__newitem, &__item {
                width: 24vmin;
                height: 20vmin;
                margin-right: 4vmin;
                margin-top: 2vmin;

                background-color: $itemBackgroundColor;
                border-radius: 1vmin;

                // cursor: pointer;
            }

            &__newitem {
                display: flex;
                justify-content: center;
                align-items: center;

                color: $homeTertiaryColor;

                font-size: 7rem;
            }

            &__item {
                display: flex;
                flex-direction: column;

                box-sizing: border-box;
                padding: 1.2vmin 1.5vmin 1vmin 1.5vmin;
                // padding-left: 1.5vmin;
                // padding-top: 1.2vmin;
                // padding-bottom: 1vmin;
                // padding-right: 1.5vmin;

                color: $itemColor;

                text-align: left;
                line-height: 2.1rem;

                &__name {
                    font-size: 1.5rem;
                }

                &__title {
                    font-size: 1rem;
                }

                &__status {
                    font-size: 1rem;
                }

                &__buttons {
                    display: flex;
                    flex-grow: 1;
                    flex-flow: row wrap;
                    align-items: flex-end;
                    justify-content: space-between;

                    &__more, &__share {
                        padding: 0.3rem 0.8rem !important;

                        text-transform: capitalize !important;
                    }

                    &__more {
                        background-color: $homePrimaryColor !important;
                    }

                    &__share {
                        color: $homeSecondaryColor;
                        background-color: $homePrimaryColor !important;
                    }
                }
            }
        }
    }

    &__fields {
        width: 50vw;
        background-color: $homeSecondaryColor;

    }
}