@import "colors";


.new-form-item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 26.7vmin;
    height: 24.5vmin;
    margin-top: 2vmin;
    margin-right: 1.2vmin;

    color: $newItemColor;
    background-color: $itemBackgroundColor;
    border-radius: 1vmin;

    font-size: 6rem;
    font-weight: 500;

    &:hover {
        color: $newItemHoverColor;
        box-shadow: 0.9vmin 0.9vmin 1.5vmin $itemShadowColor;

        cursor: pointer;

        transition: 0.4s;
    }
}
